name: build and test cli
on:
  push

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Toolchain 
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          
      - name: Test 
        uses: actions-rs/cargo@v1
        with:
          command: test  
          
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
